<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCIITableGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ASCIITableGenerator.Properties.Settings>
            <setting name="myBackColorForm" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="myForeColorForm" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="myBackcolorLvwLbx" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="myForeColorLvwLbx" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="myBackColorButton" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="myForeColorButton" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="myForeColorTbx" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="myBackColorTbx" serializeAs="String">
                <value>Gray</value>
            </setting>
        </ASCIITableGenerator.Properties.Settings>
    </userSettings>
</configuration>